<header class="bg-white shadow-md p-5 fixed top-0 w-full z-50">
    <div class="max-w-5xl mx-auto flex justify-between items-center">
        <h1 class="text-xl font-semibold">💻 Dev Portfolio</h1>
        <nav class="hidden md:flex space-x-6">
            <a href="/" class="hover:underline">Trang Chủ</a>
            <a href="#about" class="hover:underline">Giới thiệu</a>
            <a href="#projects" class="hover:underline">Dự án</a>
            <a href="#education" class="hover:underline">Học vấn</a>
            <a href="/lienhe" class="hover:underline">Liên hệ</a>
        </nav>
        <button class="bg-black text-white px-4 py-2 rounded-full">Hire Me!</button>
    </div>
</header>
<div class="h-[100px]"></div>